DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge-all-target-headers.hmap
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge-generated-files.hmap
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge-own-target-headers.hmap
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge-project-headers.hmap
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge.hmap
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb-shm
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb-wal
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-cmp
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-dir
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-file
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-res
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-sym
DerivedData/verification-merge/Index/verification-merge.hmap
DerivedData/verification-merge/TextIndex/text-index.idx
DerivedData/verification-merge/info.plist
DerivedData/verification-merge/scm.plist
verification-merge.xcodeproj/project.xcworkspace/contents.xcworkspacedata
verification-merge.xcodeproj/project.xcworkspace/xcuserdata/bryanchris.xcuserdatad/UserInterfaceState.xcuserstate
verification-merge.xcodeproj/xcuserdata/bryanchris.xcuserdatad/xcschemes/verification-merge.xcscheme
verification-merge.xcodeproj/xcuserdata/bryanchris.xcuserdatad/xcschemes/xcschememanagement.plist
verification-merge/verification_merge.1
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/cycle.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/errorstate.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/errorstate.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/errorstate.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/fsm.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/fsm.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/fsm.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/main.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/verification-merge.LinkFileList
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/build-state.dat
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge.dep
DerivedData/verification-merge/Logs/Build/71D309AC-0F9C-4965-A832-70703C1EA6B8.xcactivitylog
DerivedData/verification-merge/Logs/Build/Cache.db
DerivedData/verification-merge/Logs/Issues/7D5F5B86-182A-4804-8CF2-DDBCE7133807.xcactivitylog
DerivedData/verification-merge/Logs/Issues/Cache.db
verification-merge.xcodeproj/project.pbxproj
verification-merge.xcodeproj/xcuserdata/bryanchris.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/back.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/back.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/back.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/coordinatedsensor.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/coordinatedsensor.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/coordinatedsensor.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/cruise.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/cruise.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/cruise.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/cycle.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/cycle.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/front.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/front.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/front.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/globalstate.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/globalstate.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/globalstate.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/lock.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/lock.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/lock.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/main.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/main.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/merge.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/merge.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/merge.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/mergechecker.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/mergechecker.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/mergechecker.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/parser.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/parser.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/parser.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/periodic.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/periodic.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/periodic.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/pverify.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/pverify.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/pverify.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/sensorf.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/sensorf.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/sensorf.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/state.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/state.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/state.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/statemachine.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/statemachine.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/statemachine.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/stoppingstate.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/stoppingstate.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/stoppingstate.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/sync.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/sync.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/sync.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/transition.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/transition.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/transition.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/build-state~.dat
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge~.dep
DerivedData/verification-merge/Build/Products/Debug/verification-merge
DerivedData/verification-merge/Logs/Build/13A07819-B163-4951-8511-0A04FC0ED00F.xcactivitylog
DerivedData/verification-merge/Logs/Build/1C56E036-B2B9-4A93-BE53-D5589133C450.xcactivitylog
DerivedData/verification-merge/Logs/Build/24DC2B92-9DE2-4820-804F-98F019D3B667.xcactivitylog
DerivedData/verification-merge/Logs/Build/2D778750-FA44-4D7B-B2EA-A7CECFD37CB0.xcactivitylog
DerivedData/verification-merge/Logs/Build/97B8238A-7078-4BFC-8AF3-8882DACCC62E.xcactivitylog
DerivedData/verification-merge/Logs/Debug/0B692CCF-05D6-40C6-B6EA-A6A95F8B788A.xcactivitylog
DerivedData/verification-merge/Logs/Debug/AC891C21-EBF1-471F-A328-DA48C07C58EF.xcactivitylog
DerivedData/verification-merge/Logs/Debug/Cache.db
DerivedData/verification-merge/Logs/Issues/AE142A75-4714-470C-91D3-B8A47BE2BBB6.xcactivitylog
