DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge-all-target-headers.hmap
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge-generated-files.hmap
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge-own-target-headers.hmap
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge-project-headers.hmap
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge.hmap
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb-shm
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb-wal
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-cmp
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-dir
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-file
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-res
DerivedData/verification-merge/Index/Debug/macosx10.8-x86_64/verification-merge.xcindex/db.xcindexdb.strings-sym
DerivedData/verification-merge/Index/verification-merge.hmap
DerivedData/verification-merge/TextIndex/text-index.idx
DerivedData/verification-merge/info.plist
DerivedData/verification-merge/scm.plist
verification-merge.xcodeproj/project.xcworkspace/contents.xcworkspacedata
verification-merge.xcodeproj/project.xcworkspace/xcuserdata/bryanchris.xcuserdatad/UserInterfaceState.xcuserstate
verification-merge.xcodeproj/xcuserdata/bryanchris.xcuserdatad/xcschemes/verification-merge.xcscheme
verification-merge.xcodeproj/xcuserdata/bryanchris.xcuserdatad/xcschemes/xcschememanagement.plist
verification-merge/verification_merge.1
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/cycle.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/errorstate.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/errorstate.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/errorstate.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/fsm.d
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/fsm.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/fsm.o
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/main.dia
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/Objects-normal/x86_64/verification-merge.LinkFileList
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/build-state.dat
DerivedData/verification-merge/Build/Intermediates/verification-merge.build/Debug/verification-merge.build/verification-merge.dep
DerivedData/verification-merge/Logs/Build/71D309AC-0F9C-4965-A832-70703C1EA6B8.xcactivitylog
DerivedData/verification-merge/Logs/Build/Cache.db
DerivedData/verification-merge/Logs/Issues/7D5F5B86-182A-4804-8CF2-DDBCE7133807.xcactivitylog
DerivedData/verification-merge/Logs/Issues/Cache.db
verification-merge.xcodeproj/project.pbxproj
verification-merge.xcodeproj/xcuserdata/bryanchris.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
