DerivedData/
verification-merge.xcodeproj/xcuserdata/bryanchris.xcuserdatad/xcschemes/verification-merge.xcscheme
verification-merge.xcodeproj/xcuserdata/bryanchris.xcuserdatad/xcschemes/xcschememanagement.plist
verification-merge/verification_merge.1
verification-merge.xcodeproj/project.pbxproj
verification-merge.xcodeproj/xcuserdata/bryanchris.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
verification-merge.xcodeproj/project.xcworkspace/contents.xcworkspacedata
verification-merge.xcodeproj/project.xcworkspace/xcuserdata/bryanchris.xcuserdatad/UserInterfaceState.xcuserstate
verification-merge.xcodeproj/project.xcworkspace/xcuserdata/bryanchris.xcuserdatad/xcdebugger/Expressions.xcexplist
verification-merge.ncb
Debug/
